@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  width: 100%;
  margin: auto;
}

h1 {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
}

h2 {
  font-weight: bold;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}

.header {
  width: 100%;
  height: 4.5rem;
  z-index: 30;
}
.header__lien {
  width: 100%;
  height: 100%;
}
.header__titre {
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.header__backindex {
  color: black;
  font-size: 1.5rem;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

.footer {
  background-color: #323232;
  color: white;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: -3rem;
  /* Pour compenser la position relative de la page de -3rem */
}
.footer__titre {
  margin-left: 1rem;
  font-size: 120%;
  font-weight: 100;
  margin-bottom: 1rem;
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
}
.footer__ul {
  margin-left: 1rem;
}
.footer__ul__li {
  margin: 0.5rem 0 0.5rem 0;
}
.footer__ul__li:hover {
  cursor: pointer;
}
.footer__ul__li a {
  color: white;
}
.footer__ul__li a:visited {
  color: white;
}
.footer__ul__li__icone {
  width: 1rem;
  margin-right: 0.5rem;
  font-size: 0.8rem;
}

.loading {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeout 0s 0.5s forwards;
}
.loading__spinner {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #9356DC;
  animation: loader 0.8s backwards infinite;
}
.loading__spinner2 {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #FF79DA;
  animation: loader 0.8s 0.4s backwards infinite;
}

@keyframes loader {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -10;
  }
}
.search {
  z-index: 10;
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dfdfdf;
  box-shadow: inset 0px 3px 5px #c9c9c9;
}
.search__logo {
  margin-right: 1rem;
}
.search__texte {
  border: transparent;
  background: transparent;
  font-size: 1.1rem;
}

.pres {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #eeeeee;
}
.pres__container {
  width: 78%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.pres__container__titre {
  margin-top: 2rem;
  font-weight: bold;
}
.pres__container__description {
  color: #afaaaa;
  margin-top: 0rem;
}

.fonctionnement {
  margin-bottom: 4rem;
  width: 90%;
  margin: auto;
}
@media (min-width: 1024px) {
  .fonctionnement {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .fonctionnement__all {
    display: flex;
  }
}
.fonctionnement__titre {
  margin-left: 1rem;
  margin-top: 3rem;
}
.fonctionnement__carte {
  display: flex;
  margin: auto;
  width: 90%;
  height: 4.5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  border-radius: 1rem;
  background-color: #eeeeee;
  align-items: center;
  box-shadow: 1px 2px 15px lightgray;
}
@media (min-width: 1024px) {
  .fonctionnement__carte {
    width: 30%;
  }
}
.fonctionnement__carte:hover {
  background-color: #f2eafb;
}
.fonctionnement__carte:hover > .fonctionnement__carte__icone {
  color: #9356DC;
}
.fonctionnement__carte:active {
  background-color: #f2eafb;
}
.fonctionnement__carte__numéro {
  background-color: #9356DC;
  color: white;
  width: 1.5em;
  height: 1.7rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -0.7rem;
}
.fonctionnement__carte__icone {
  margin-left: 1rem;
  margin-right: 1rem;
  color: #7c7c7c;
  font-size: 1.2rem;
}
.restaurants {
  background-color: #eeeeee;
  padding-top: 2.5rem;
  height: auto;
  padding-bottom: 3rem;
}
@media (min-width: 1024px) {
  .restaurants__all {
    display: flex;
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }
}
.restaurants__titre {
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.restaurants__carte {
  width: 92%;
  height: 15rem;
  margin: auto;
  border-radius: 1rem;
  position: relative;
  margin-bottom: 1.5rem;
  box-shadow: 5px 5px 5px #dbdbdb;
}
@media (min-width: 1024px) {
  .restaurants__carte {
    width: 45%;
    margin: auto;
    margin-bottom: 1rem;
  }
}
.restaurants__carte__nouveau {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #99E2D0;
  width: 5.5rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  color: #278870;
}
.restaurants__carte__lien {
  width: 100%;
  height: 100%;
}
.restaurants__carte__image {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.restaurants__carte__description {
  height: 20%;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
  background-color: #fff;
  margin-top: -0.3rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: relative;
}
.restaurants__carte__description__texte {
  width: 150%;
}
.restaurants__carte__description__texte__titre {
  margin-bottom: 0.2rem;
}
.restaurants__carte__description__texte__place {
  color: #6e6e6e;
}
.restaurants__carte__description__coeur {
  position: absolute;
  font-size: 1.7rem;
  margin-top: 0.5rem;
  right: 1rem;
  z-index: 50;
}
.restaurants__carte__description__coeur:hover {
  opacity: 0;
  transition: opacity 0.3s;
  transform-origin: bottom;
}
.restaurants__carte__description__coeur:hover + .restaurants__carte__description__coeurplein {
  opacity: 1;
  transition: opacity 1s;
  transform-origin: bottom;
}
.restaurants__carte__description__coeur:active {
  opacity: 0;
  transition: opacity 0.3s;
  transform-origin: bottom;
}
.restaurants__carte__description__coeur:active + .restaurants__carte__description__coeurplein {
  opacity: 1;
  transition: opacity 1s;
  transform-origin: bottom;
}
.restaurants__carte__description__coeurplein {
  opacity: 0;
  position: absolute;
  font-size: 1.7rem;
  margin-top: 0.5rem;
  right: 1rem;
  color: gradient(to bottom, #9356DC, #FF79DA);
  transition: opacity 250ms forwards;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.entete__image {
  width: 100%;
  object-fit: cover;
  max-height: 17rem;
}

.carte {
  width: 100%;
  background-color: #f6f6f6;
  position: relative;
  top: -3rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  padding-bottom: 3rem;
}
.carte__nomresto {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.carte__nomresto__titre {
  font-size: 1.7rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-right: 3rem;
  margin-top: 1rem;
}
.carte__nomresto__coeur {
  position: absolute;
  font-size: 1.7rem;
  margin-top: 0.5rem;
  right: 1rem;
  z-index: 50;
}
.carte__nomresto__coeur:hover {
  opacity: 0;
  transition: opacity 0.3s;
  transform-origin: bottom;
}
.carte__nomresto__coeur:hover + .carte__nomresto__coeurplein {
  opacity: 1;
  transition: opacity 1s;
  transform-origin: bottom;
}
.carte__nomresto__coeur:active {
  opacity: 0;
  transition: opacity 0.3s;
  transform-origin: bottom;
}
.carte__nomresto__coeur:active + .carte__nomresto__coeurplein {
  opacity: 1;
  transition: opacity 1s;
  transform-origin: bottom;
}
.carte__nomresto__coeurplein {
  opacity: 0;
  position: absolute;
  font-size: 1.7rem;
  margin-top: 0.5rem;
  right: 1rem;
  color: gradient(to bottom, #9356DC, #FF79DA);
  transition: opacity 250ms;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.carte__plat {
  margin: auto;
  margin-left: 1rem;
  padding-right: 1rem;
  border: 1px solid;
}
@media (min-width: 1024px) {
  .carte__plat {
    display: flex;
  }
}
.carte__plat__type {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
@media (min-width: 1024px) {
  .carte__plat__type {
    width: 30%;
    margin: auto;
  }
}
.carte__plat__type__titre {
  font-weight: lighter;
  font-size: 1.4rem;
}
.carte__plat__type__bar {
  background-color: #99E2D0;
  height: 0.2rem;
  width: 4rem;
}

.plat {
  height: 5rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 2px 2px 10px #a0a0a0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 1rem 0 1rem 0;
  overflow: hidden;
  font-size: 0.9rem;
}
.plat:hover {
  cursor: pointer;
}
.plat:hover > .ajoutplat {
  transform: translateX(-4rem);
  transition: transform 1s;
}
.plat:hover > .ajoutplat > .ajoutplat__check {
  transform: rotate(1turn);
  transition: transform 0.8s;
}
.plat:hover > .plat__prix {
  transform: translateX(-3rem);
  transition: transform 1s;
}
.plat:hover > .plat__description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 55%;
}
.plat__description {
  margin: 1rem 0 1rem 1rem;
  text-overflow: ellipsis;
  text-overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: auto;
  max-width: 70%;
}
.plat__description__titre {
  font-weight: bold;
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
  width: auto;
}
.plat__description__info {
  color: #6e6e6e;
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
  white-space: nowrap;
}
.plat__prix {
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  margin-right: 1rem;
  margin-top: 2rem;
  width: 10%;
  height: auto;
  transform-origin: right;
}

.ajoutplat {
  position: absolute;
  right: -4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 100%;
  background-color: #99E2D0;
  transform-origin: right;
  color: white;
}

.transitiontopY {
  animation: transitiontopY 0.9s;
  transform-origin: bottom;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-fill-mode: backwards;
}

@keyframes transitiontopY {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
.transitiontopY1 {
  animation: transitiontopY 0.7s;
  animation-delay: 0.15s;
  transform-origin: bottom;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-fill-mode: backwards;
}

.transitiontopY2 {
  animation: transitiontopY 0.7s;
  animation-delay: 0.3s;
  transform-origin: bottom;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-fill-mode: backwards;
}

.transitiontopY3 {
  animation: transitiontopY 0.7s;
  animation-delay: 0.45s;
  transform-origin: bottom;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-fill-mode: backwards;
}

.transitiontopY4 {
  animation: transitiontopY 0.7s;
  animation-delay: 0.6s;
  transform-origin: bottom;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-fill-mode: backwards;
}

.transitiontopY5 {
  animation: transitiontopY 0.7s;
  animation-delay: 0.75s;
  transform-origin: bottom;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-fill-mode: backwards;
}

.transitiontopY6 {
  animation: transitiontopY 0.7s;
  animation-delay: 0.9s;
  transform-origin: bottom;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-fill-mode: backwards;
}

.transitiontopY7 {
  animation: transitiontopY 0.7s;
  animation-delay: 1.05s;
  transform-origin: bottom;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-fill-mode: backwards;
}

.transitiontopY8 {
  animation: transitiontopY 0.7s;
  animation-delay: 1.2s;
  transform-origin: bottom;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-fill-mode: backwards;
}

.transitiontopY9 {
  animation: transitiontopY 0.7s;
  animation-delay: 1.35s;
  transform-origin: bottom;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-fill-mode: backwards;
}

.transitiontopY10 {
  animation: transitiontopY 0.7s;
  animation-delay: 1.5s;
  transform-origin: bottom;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-fill-mode: backwards;
}

.bouton {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  height: 3rem;
  font-size: 0.95rem;
  width: 70%;
  border-radius: 5rem;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  color: white;
  cursor: pointer;
  border: none;
  box-shadow: 1px 1px 5px gray;
}
.bouton:active {
  background: linear-gradient(to top left, #a16be0, #ff93e1);
  box-shadow: 3px 3px 5px gray;
}
.bouton:hover {
  background: linear-gradient(to top left, #a16be0, #ff93e1);
  box-shadow: 3px 3px 5px gray;
}

/*# sourceMappingURL=style.css.map */
