.search {
    z-index: 10;
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 223, 223);
    box-shadow: inset 5px 5px 5px gray;
    &__logo {
        margin-right: 1rem;
    }
    &__texte {
        border: transparent;
        background: transparent;
        font-size: 1.1rem;
    }
}
.pres {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(238, 238, 238);
    &__container {
        width: 78%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        &__titre {
            margin-top: 2rem;
            font-weight: bold;
        }
        &__description {
            color: rgb(175, 170, 170);
            margin-top: -0rem;
        }
    }
}
.fonctionnement {
    margin-bottom: 4rem;
    width: 90%;
    margin: auto;
    &__titre {
        margin-left: 1rem;
        margin-top: 3rem;
    }
    &__carte {
        display: flex;
        margin: auto;
        width: 90%;
        height: 4.5rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
        border-radius: 1rem;
        background-color: rgb(238, 238, 238);
        align-items: center;
        box-shadow: 1px 2px 15px rgb(211, 211, 211);
        &:hover {
            background-color: lighten($primary-color, 35);
            >.fonctionnement__carte__icone {
                color: $primary-color;
            }
        }
        &:active {
            background-color: lighten($primary-color, 35);
        }
        &__numéro {
            background-color: $primary-color;
            color: white;
            width: 1.5em;
            height: 1.7rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -0.7rem;
        }
        &__icone {
            margin-left: 1rem;
            margin-right: 1rem;
            color: rgb(124, 124, 124);
            font-size: 1.2rem;
        }
        &__description {

        }
    }
}

.restaurants {
    background-color: rgb(238, 238, 238);
    padding-top: 2.5rem;
    height: auto;
    padding-bottom: 3rem;
    &__titre {
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
    &__carte {
        width: 92%;
        height: 15rem;
        margin: auto;
        border-radius: 1rem;
        position: relative;
        margin-bottom: 1.5rem;
        box-shadow: 5px 5px 5px rgb(219, 219, 219);
        &__nouveau {
            position: absolute;
            top: 1rem;
            right: 1rem;
            background-color: $tertiary-color;
            width: 5.5rem;
            height: 1.8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.2rem;
            color: darken($tertiary-color, 40);
        }
        &__lien {
            width: 100%;
            height: 100%;
        }
        &__image {
            width: 100%;
            height: 70%;
            object-fit: cover;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
        }
        &__description {
            height: 20%;
            display: flex;
            justify-content: space-between;
            padding: 0.8rem;
            background-color: #fff;
            margin-top: -0.3rem;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            position: relative;
            &__texte {
                width: 150%;
                &__titre {
                    margin-bottom: 0.2rem;
                }
                &__place {
                    color: $font-gris;
                }
            }
            &__coeur {
                position: absolute;
                font-size: 1.7rem;
                margin-top: 0.5rem;
                right: 1rem;
                z-index: 50;
                &:hover {
                    opacity: 0;
                }
                &:hover + .restaurants__carte__description__coeurplein {
                    opacity: 1;
                }
            }
            &__coeurplein {
                opacity: 0;
                position: absolute;
                font-size: 1.7rem;
                margin-top: 0.5rem;
                right: 1rem;
                color: $primary-color;
                transition: opacity 250ms;
            }
        }
    }
}