.entete {
    &__image {
        width: 100%;
        object-fit: cover;
        max-height: 17rem;
    }
}
.carte {
    width: 100%;
    background-color: $bg-gris;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    padding-bottom: 3rem;
    &__nomresto {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        &__titre {
            font-size: 1.7rem;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            margin-right: 3rem;
            margin-top: 1rem;
        }
        &__coeur {
            font-size: 1.5rem;
            margin-top: 1rem;
        }    
    }
    &__plat {
        margin: auto;
        margin-left: 1rem;
        padding-right: 1rem;
        &__type {
            margin-top: 2rem;
            margin-bottom: 3rem;
            &__titre {
                font-weight: lighter;
                font-size: 1.4rem;
            }
            &__bar{
                background-color: $tertiary-color;
                height: 0.2rem;
                width: 4rem;
            }
           
        }
    }
}
.plat {
    height: 5rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px rgb(160, 160, 160);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 1rem 0 1rem 0;
    overflow: hidden;
    font-size: 0.9rem;
    &:hover {
        cursor: pointer;
    }
    &__description {
        margin: 1rem 0 1rem 1rem;
        text-overflow: ellipsis;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 60%;
        width: 70%;
        &__titre{
            font-weight: bold;
        }
        &__info {
            color: $font-gris;
        }
    }
    &__prix {
        font-weight: bold;
        display: flex;
        align-items: flex-end;
        margin-right: 1rem;
        width: 10%;
        height: auto;
        transform-origin: right;
    }
}
.ajoutplat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    max-width: 4rem;
    height: 100%;
    background-color: $tertiary-color;
    transform: scalex(0.9);
    transform-origin: right;
    & i {
        color: white;
    }
}