@import "./../utils/variables";

.footer {
    background-color: $bg-footer;
    color: white;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: -3rem; /* Pour compenser la position relative de la page de -3rem */
    &__titre {
        margin-left: 1rem;
        font-size: 120%;
        font-weight:100;
        margin-bottom: 1rem;
        font-family: Shrikhand, Arial, Helvetica, sans-serif;
    }
    &__ul{
        margin-left: 1rem;
        &__li{
            margin: 0.5rem 0 0.5rem 0;
            & a {
                color: white;
                &:visited {
                    color: white;
                }
            }
            &__icone {
                width: 1rem;
                margin-right: 0.5rem;
                font-size: 0.8rem;
            }
        }
    }
}